<?xml version="1.0" encoding="UTF-8"?>
<theme>
    <formatVersion>7</formatVersion>

    <view name="menu">
        <menuText name="menutitle">
            <fontPath>./_assets/fonts/RobotoCondensed-Bold.ttf</fontPath>
            <fontSize>0.03</fontSize>
            <color>ffffff</color>
        </menuText>

        <menuText name="menufooter">
            <fontPath>./_assets/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.018</fontSize>
            <color>868686</color>
        </menuText>

        <menuText name="menutext">
            <fontPath>./_assets/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.022</fontSize>
            <color>868686</color>
            <separatorColor>333333</separatorColor>
            <selectorColor>9f0043</selectorColor>
            <selectorColorEnd>9f0043</selectorColorEnd>
            <selectedColor>FFFFFF</selectedColor>
            <selectorGradientType>horizontal</selectorGradientType>
        </menuText>

        <menuTextSmall name="menutextsmall">
            <fontPath>./_assets/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.016</fontSize>
            <color>FFFFFF</color>
        </menuTextSmall>

        <menuBackground name="menubg">
            <color>333333</color>
            <cornerSize>32 32</cornerSize>
        </menuBackground>

        <menuIcons name="menuicons">
            <iconKodi>./_assets/icons/Kodi.webp</iconKodi>
            <iconSystem>./_assets/icons/System.webp</iconSystem>
            <iconUpdates>./_assets/icons/Updates.webp</iconUpdates>
            <iconGames>./_assets/icons/Games.webp</iconGames>
            <iconControllers>./_assets/icons/Controllers.webp</iconControllers>
            <iconUI>./_assets/icons/UI.webp</iconUI>
            <iconSound>./_assets/icons/Sound.webp</iconSound>
            <iconNetwork>./_assets/icons/Network.webp</iconNetwork>
            <iconScraper>./_assets/icons/Scraper.webp</iconScraper>
            <iconAdvanced>./_assets/icons/Advanced.webp</iconAdvanced>
            <iconQuit>./_assets/icons/Quit.webp</iconQuit>
            <iconRestart>./_assets/icons/Restart.webp</iconRestart>
            <iconShutdown>./_assets/icons/Shutdown.webp</iconShutdown>
            <iconFastShutdown>./_assets/icons/Fastshutdown.webp</iconFastShutdown>
            <iconRetroachievements>./_assets/icons/Contest.webp</iconRetroachievements>
            <iconEmuelec>./_assets/icons/Emuelec.webp</iconEmuelec>
        </menuIcons>
        
        <helpsystem name="help">
            <fontPath>./_assets/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.022</fontSize>
            <pos>0.06 0.955</pos>
            <textColor>FFFFFF</textColor>
        </helpsystem>
    </view>

</theme>